#info {
    display: flex;
    justify-content: space-between;
}

.left {
    color: green;
    border: solid;
    border-color: blue;
    padding: 0.5em;
}

.right h3 {
    font-weight: normal;
    font-style: italic;
    text-align: right;
}

.counties {
    fill: white;
    stroke: black;
    stroke-linejoin: round;
}

div.tooltip {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding: 8px;
    font-size: 13px;
    background: #FFFFFF;
    border: 1px solid black;
    z-index: 10;
}

#h1-petitions-map .label{
    text-align: center;
}
div.Bubble-tooltip {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding: 8px;
    font-size: 13px;
    background: #FFFFFF;
    border: 1px solid black;
    z-index: 10;
    visibility: hidden;
}

.bar {
    fill: steelblue;
    stroke: black
  }

  .petitions .vcontainer {
    display: flex;
    flex-direction: column;
  }

  .petitions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .petitions .map {
    display: flex;
    flex-direction: row;
  }

  .petitions .bubble .dot.highlight {
    stroke-width: 3 !important;
    fill-opacity: 0.9 !important;
    stroke: black !important;
  }
 
#textId {
  position: absolute; 
  display: inline-block;
  left: 500px; 
  bottom:-500px; 
  text-align: left; 
  overflow-wrap: break-word; 
  color:black; 
  z-index: -1;
}

#labelId {
display: none;
text-align: left;
padding-left: 100px;
}

 

  